pipeline/GetAllDeviceSpecificPoints_Pipeline.json
{
	"name": "GetAllDeviceSpecificPoints_Pipeline",
	"properties": {
		"activities": [
			{
				"name": "Get Max DevicePoints Pages",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Web1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "MaxDevicePointsPage",
					"value": {
						"value": "@string(activity('Web1').output.totalPages)",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Until Max Device Specific Points Pages",
				"type": "Until",
				"dependsOn": [
					{
						"activity": "Get Max DevicePoints Pages",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@lessOrEquals(int(variables('MaxDevicePointsPage')),int(variables('CurrentPageCounter')))",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Copy Device Points Data",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "Copy1-AuthenticateForPointsAPI",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "RestSource",
									"additionalColumns": [
										{
											"name": "SITE-ID",
											"value": {
												"value": "@pipeline().parameters.SITE_ID",
												"type": "Expression"
											}
										},
										{
											"name": "SITE-NAME",
											"value": {
												"value": "@pipeline().parameters.SITE_NAME",
												"type": "Expression"
											}
										},
										{
											"name": "TIME-ZONE",
											"value": {
												"value": "@pipeline().parameters.SITE_TIMEZONE",
												"type": "Expression"
											}
										},
										{
											"name": "DEVICE-ID",
											"value": {
												"value": "@pipeline().parameters.DEVICE_ID",
												"type": "Expression"
											}
										},
										{
											"name": "DEVICE-NAME",
											"value": {
												"value": "@pipeline().parameters.DEVICE_NAME",
												"type": "Expression"
											}
										}
									],
									"httpRequestTimeout": "00:01:40",
									"requestInterval": "00.00:00:00.010",
									"requestMethod": "GET",
									"additionalHeaders": {
										"Authorization": {
											"value": "@concat('Bearer ',activity('Copy1-AuthenticateForPointsAPI').output.access_token)",
											"type": "Expression"
										},
										"X-TENANT-ID": "gdctest"
									}
								},
								"sink": {
									"type": "SqlServerSink"
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"mappings": [
										{
											"source": {
												"path": "['id']"
											},
											"sink": {
												"name": "PointID",
												"type": "Int32"
											}
										},
										{
											"source": {
												"path": "['pointName']"
											},
											"sink": {
												"name": "PointName",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['SITE-ID']"
											},
											"sink": {
												"name": "SiteID",
												"type": "Int32"
											}
										},
										{
											"source": {
												"path": "$['SITE-NAME']"
											},
											"sink": {
												"name": "SiteName",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['TIME-ZONE']"
											},
											"sink": {
												"name": "TimeZone",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['DEVICE-ID']"
											},
											"sink": {
												"name": "DeviceID",
												"type": "Int32"
											}
										},
										{
											"source": {
												"path": "$['DEVICE-NAME']"
											},
											"sink": {
												"name": "DeviceName",
												"type": "String"
											}
										}
									],
									"collectionReference": "$['content']"
								}
							},
							"inputs": [
								{
									"referenceName": "RestResource1",
									"type": "DatasetReference",
									"parameters": {
										"deviceId": {
											"value": "@pipeline().parameters.DEVICE_ID",
											"type": "Expression"
										},
										"currentpage": {
											"value": "@variables('CurrentPageCounter')",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "SqlServerSiteDevicePointsDataSet",
									"type": "DatasetReference"
								}
							]
						},
						{
							"name": "Assign Addition",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "Set variable1",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"variableName": "CurrentPageCounter",
								"value": {
									"value": "@variables('TempCounter')",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Reset Temp Variable",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "Assign Addition",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"variableName": "TempCounter",
								"value": "0"
							}
						},
						{
							"name": "Set variable1",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "Copy Device Points Data",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"variableName": "TempCounter",
								"value": {
									"value": "@string(add(int(variables('CurrentPageCounter')),1))",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Copy1-AuthenticateForPointsAPI",
							"type": "WebActivity",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"url": "http://192.168.114.134/uaa/auth?password=pass&username=administrator",
								"connectVia": {
									"referenceName": "SelfHostedIntegrationRuntimeReferenced",
									"type": "IntegrationRuntimeReference"
								},
								"method": "POST",
								"headers": {
									"Content-Type": "application/x-www-form-urlencoded",
									"X-TENANT-ID": "gdctest",
									"Accept": "application/json"
								},
								"body": "'none'",
								"linkedServices": [
									{
										"referenceName": "AuthenticationApiLinkedService",
										"type": "LinkedServiceReference"
									}
								]
							}
						}
					],
					"timeout": "7.00:00:00"
				}
			},
			{
				"name": "Web1",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "AuthenticateForPointsAPI",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": {
						"value": "@concat('HTTP://192.168.114.134/inventory/api/points/paging?deviceId=',pipeline().parameters.DEVICE_ID)",
						"type": "Expression"
					},
					"connectVia": {
						"referenceName": "SelfHostedIntegrationRuntimeReferenced",
						"type": "IntegrationRuntimeReference"
					},
					"method": "GET",
					"headers": {
						"Authorization": {
							"value": "@concat('Bearer ',activity('AuthenticateForPointsAPI').output.access_token)",
							"type": "Expression"
						},
						"X-TENANT-ID": "gdctest"
					},
					"linkedServices": [
						{
							"referenceName": "RESTDevicePagesLinkedService",
							"type": "LinkedServiceReference"
						}
					]
				}
			},
			{
				"name": "AuthenticateForPointsAPI",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": "http://192.168.114.134/uaa/auth?password=pass&username=administrator",
					"connectVia": {
						"referenceName": "SelfHostedIntegrationRuntimeReferenced",
						"type": "IntegrationRuntimeReference"
					},
					"method": "POST",
					"headers": {
						"Content-Type": "application/x-www-form-urlencoded",
						"X-TENANT-ID": "gdctest",
						"Accept": "application/json"
					},
					"body": "'none'",
					"linkedServices": [
						{
							"referenceName": "AuthenticationApiLinkedService",
							"type": "LinkedServiceReference"
						}
					]
				}
			}
		],
		"parameters": {
			"SITE_ID": {
				"type": "string"
			},
			"SITE_NAME": {
				"type": "string"
			},
			"SITE_TIMEZONE": {
				"type": "string"
			},
			"AuthorizationToken": {
				"type": "string"
			},
			"DEVICE_ID": {
				"type": "string"
			},
			"DEVICE_NAME": {
				"type": "string"
			}
		},
		"variables": {
			"MaxDevicePointsPage": {
				"type": "String",
				"defaultValue": "0"
			},
			"TempCounter": {
				"type": "String",
				"defaultValue": "0"
			},
			"CurrentPageCounter": {
				"type": "String",
				"defaultValue": "0"
			}
		},
		"annotations": []
	}
}