pipeline/GetAllDeviceSpecificPoints_Pipeline.json
{
	"name": "GetAllDeviceSpecificPoints_Pipeline",
	"properties": {
		"activities": [
			{
				"name": "GetDeviceSpecificPointsInformation",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": {
						"value": "@concat('HTTP://192.168.114.134/inventory/api/points/paging?deviceId=',pipeline().parameters.DEVICE_ID)",
						"type": "Expression"
					},
					"connectVia": {
						"referenceName": "SelfHostedIntegrationRuntimeReferenced",
						"type": "IntegrationRuntimeReference"
					},
					"method": "GET",
					"headers": {
						"AuthorizationToken": {
							"value": "@pipeline().parameters.AuthorizationToken",
							"type": "Expression"
						},
						"X-TENANT-ID": "gdctest"
					},
					"linkedServices": [
						{
							"referenceName": "DevicePointsLinkedService",
							"type": "LinkedServiceReference"
						}
					]
				}
			},
			{
				"name": "Get Max DevicePoints Pages",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "GetDeviceSpecificPointsInformation",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "MAX-DEVICE-POINTS-PAGES",
					"value": {
						"value": "@string(activity('GetDeviceSpecificPointsInformation').output.totalPages)",
						"type": "Expression"
					}
				}
			}
		],
		"parameters": {
			"SITE_ID": {
				"type": "string"
			},
			"SITE_NAME": {
				"type": "string"
			},
			"SITE_TIMEZONE": {
				"type": "string"
			},
			"AuthorizationToken": {
				"type": "string"
			},
			"DEVICE_ID": {
				"type": "string"
			},
			"DEVICE_NAME": {
				"type": "string"
			}
		},
		"variables": {
			"MAX-DEVICE-POINTS-PAGES": {
				"type": "String"
			},
			"CURRENT-DEVICE-POINTS-PAGE": {
				"type": "String"
			},
			"TEMP-DEVICE-POINTS-PAGE": {
				"type": "String"
			}
		},
		"annotations": []
	}
}