pipeline/GetAllDeviceSpecificPoints_Pipeline.json
{
	"name": "GetAllDeviceSpecificPoints_Pipeline",
	"properties": {
		"activities": [
			{
				"name": "GetDeviceSpecificPointsInformation",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": {
						"value": "@concat('HTTP://192.168.114.134/inventory/api/points/paging?deviceId=',pipeline().parameters.DEVICE_ID)",
						"type": "Expression"
					},
					"connectVia": {
						"referenceName": "SelfHostedIntegrationRuntimeReferenced",
						"type": "IntegrationRuntimeReference"
					},
					"method": "GET",
					"headers": {
						"AuthorizationToken": {
							"value": "@pipeline().parameters.AuthorizationToken",
							"type": "Expression"
						},
						"X-TENANT-ID": "gdctest"
					},
					"linkedServices": [
						{
							"referenceName": "DevicePointsLinkedService",
							"type": "LinkedServiceReference"
						}
					]
				}
			},
			{
				"name": "Get Max DevicePoints Pages",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "GetDeviceSpecificPointsInformation",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "MaxDevicePointsPage",
					"value": {
						"value": "@string(activity('GetDeviceSpecificPointsInformation').output.totalPages)",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Until Max Device Specific Points Pages",
				"type": "Until",
				"dependsOn": [
					{
						"activity": "Get Max DevicePoints Pages",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@lessOrEquals(int(variables('MAX-DEVICE-POINTS-PAGES')),int(variables('CURRENT-DEVICE-POINTS-PAGE')))",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Add Site Device Counter",
							"type": "SetVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "SiteDevices-TempCounter",
								"value": {
									"value": "@string(add(int(variables('SiteDevices-PageCounter')),1))",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Assign Addition",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "Add Site Device Counter",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"variableName": "SiteDevices-PageCounter",
								"value": {
									"value": "@variables('SiteDevices-TempCounter')",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Reset Temp",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "Assign Addition",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"variableName": "SiteDevices-TempCounter",
								"value": "0"
							}
						},
						{
							"name": "Copy data1",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "RestSource",
									"httpRequestTimeout": "00:01:40",
									"requestInterval": "00.00:00:00.010",
									"requestMethod": "GET",
									"additionalHeaders": {
										"Authorization": {
											"value": "@pipeline().parameters.AuthorizationToken",
											"type": "Expression"
										},
										"X-TENANT-ID": "gdctest"
									}
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "RestResource1",
									"type": "DatasetReference",
									"parameters": {
										"deviceId": {
											"value": "@pipeline().parameters.DEVICE_ID",
											"type": "Expression"
										},
										"currentpage": {
											"value": "@variables('CurrentDevicePointPage')",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "Add Device Points Page Counter",
							"type": "SetVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "TempCounter",
								"value": {
									"value": "@add(int(variables('CurrentDevicePointPage')),1)",
									"type": "Expression"
								}
							}
						}
					],
					"timeout": "7.00:00:00"
				}
			}
		],
		"parameters": {
			"SITE_ID": {
				"type": "string"
			},
			"SITE_NAME": {
				"type": "string"
			},
			"SITE_TIMEZONE": {
				"type": "string"
			},
			"AuthorizationToken": {
				"type": "string"
			},
			"DEVICE_ID": {
				"type": "string"
			},
			"DEVICE_NAME": {
				"type": "string"
			}
		},
		"variables": {
			"MaxDevicePointsPage": {
				"type": "String"
			},
			"CurrentDevicePointPage": {
				"type": "String"
			},
			"TempCounter": {
				"type": "String"
			}
		},
		"annotations": []
	}
}