pipeline/NavigateAllSiteSpecificDevices_Pipeline.json
{
	"name": "NavigateAllSiteSpecificDevices_Pipeline",
	"properties": {
		"activities": [
			{
				"name": "SiteSpecificDevicesLookup",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"queryTimeout": "02:00:00"
					},
					"dataset": {
						"referenceName": "SqlServerSiteDeviceDataSet",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEachSiteSpecificDevices",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "SiteSpecificDevicesLookup",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('SiteSpecificDevicesLookup').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Execute GetAllDeviceSpecificPoints_Pipeline",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "GetAllDeviceSpecificPoints_Pipeline",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true
							}
						}
					]
				}
			}
		],
		"parameters": {
			"AuthorizationToken": {
				"type": "string"
			}
		},
		"annotations": []
	}
}